<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11</key>
	<dict>
		<key>success</key>
		<dict>
			<key>attributeText</key>
			<string>telephone_can_call</string>
			<key>detail</key>
			<string>progress_tag_ok1</string>
			<key>title</key>
			<string>progress1</string>
			<key>image</key>
			<string>jindu_icon1</string>
		</dict>
		<key>failure</key>
		<dict>
			<key>attributeText</key>
			<string>telephone_can_call</string>
			<key>detail</key>
			<string>progress_tag_ok1</string>
			<key>title</key>
			<string>progress1</string>
			<key>image</key>
			<string>jindu_icon1</string>
		</dict>
		<key>waiting</key>
		<dict>
			<key>attributeText</key>
			<string>telephone_can_call</string>
			<key>detail</key>
			<string>progress_tag_ok1</string>
			<key>title</key>
			<string>progress1</string>
			<key>image</key>
			<string>jindu_icon1</string>
		</dict>
	</dict>
	<key>21</key>
	<dict>
		<key>success</key>
		<dict>
			<key>detail</key>
			<string>progress_tag_ok2</string>
			<key>title</key>
			<string>progress_ok2</string>
			<key>image</key>
			<string>jindu_icon2</string>
		</dict>
		<key>failure</key>
		<dict>
			<key>addAttribute</key>
			<true/>
			<key>detail</key>
			<string>progress_tag_failed</string>
			<key>title</key>
			<string>progress_failed</string>
			<key>image</key>
			<string>icon2_fause</string>
		</dict>
		<key>waiting</key>
		<dict>
			<key>detail</key>
			<string></string>
			<key>title</key>
			<string>progress2</string>
			<key>image</key>
			<string>icon2_failed</string>
		</dict>
	</dict>
	<key>31</key>
	<dict>
		<key>success</key>
		<dict>
			<key>detail</key>
			<string>progress_tag_ok3</string>
			<key>title</key>
			<string>progress_ok3</string>
			<key>image</key>
			<string>jindu_icon3</string>
		</dict>
		<key>failure</key>
		<dict>
			<key>addAttribute</key>
			<true/>
			<key>detail</key>
			<string>progress_tag_failed</string>
			<key>title</key>
			<string>progress_failed</string>
			<key>image</key>
			<string>icon3_fause</string>
		</dict>
		<key>waiting</key>
		<dict>
			<key>detail</key>
			<string></string>
			<key>title</key>
			<string>progress3</string>
			<key>image</key>
			<string>icon3_failed</string>
		</dict>
	</dict>
	<key>41</key>
	<dict>
		<key>success</key>
		<dict>
			<key>detail</key>
			<string>progress_tag_ok4</string>
			<key>title</key>
			<string>progress_ok4</string>
			<key>image</key>
			<string>jindu_icon4</string>
		</dict>
		<key>failure</key>
		<dict>
			<key>addAttribute</key>
			<true/>
			<key>detail</key>
			<string>progress_tag_failed</string>
			<key>title</key>
			<string>progress_failed</string>
			<key>image</key>
			<string>icon4_fause</string>
		</dict>
		<key>waiting</key>
		<dict>
			<key>detail</key>
			<string></string>
			<key>title</key>
			<string>progress4</string>
			<key>image</key>
			<string>icon4_failed</string>
		</dict>
	</dict>
</dict>
</plist>
